.servicesContainer {
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 80%,
		#3871ff 80%
	);
	padding-left: 11rem;
	padding-right: 11rem;
}

.servicesTitle {
	color: white;
	font-weight: bold;
	font-size: 1.9rem;
}

.servicesPar {
	color: #9399a1;
	font-weight: 600;
	font-size: 1rem;
}

.card {
	border-radius: 0.15rem;
}

.servicesCardTitle {
	font-size: 1rem;
	font-weight: 600;
}

.servicesCardPar {
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.7rem;
	color: #7f7f7f;
}

.servicesContainerImg {
	background-color: #3871ff;
	height: 3.7rem;
	width: 3.7rem;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sevicesImg {
	height: 2rem;
	width: auto;
}

@media (max-width: 1200px) {
	.servicesContainer {
		padding-left: 8rem;
		padding-right: 8rem;
	}
}

@media (max-width: 992px) {
	.servicesContainer {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}

@media (max-width: 768px) {
	.servicesContainer {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media (max-width: 576px) {
	.servicesContainer {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
