.servicesContainer {
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0) 80%,
		#3871ff 80%
	);
	height: 100vh;
}

.servicesTitle {
	color: white;
	font-weight: bold;
	font-size: 1.9rem;
}

.servicesPar {
	color: #9399a1;
	font-weight: 600;
	font-size: 1rem;
}

.card {
	border-radius: 0.15rem;
}

.servicesCardTitle {
	font-size: 1rem;
	font-weight: bold;
}

.servicesCardPar {
	font-size: 0.8rem;
	line-height: 1.7rem;
}

.servicesContainerImg {
	background-color: #3871ff;
	height: 3.7rem;
	width: 3.7rem;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sevicesImg {
	height: 2rem;
	width: auto;
}
