.ddcContainer {
	color: white;
	background-color: #3871ff;
	padding: 5rem 11rem 5rem 11rem;
}

.ddcTitle {
	font-size: small;
	font-weight: bold;
}

.ddcName {
	font-weight: bold;
}

.ddcSubname {
	font-size: x-small;
	font-weight: bold;
}

.ddcMailAndTel {
	text-decoration: none;
	color: white;
	font-size: medium;
	font-weight: 600;
}

.ddcIcons {
	height: 1.5rem;
	width: auto;
}

.ddcIcons2 {
	height: 3rem;
	width: auto;
}

@media (max-width: 576px) {
	.ddcContainer {
		padding: 3rem 1rem;
	}

	.ddcIcons {
		height: 1.2rem;
	}

	.ddcIcons2 {
		height: 2.5rem;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.ddcContainer {
		padding: 4rem 2rem;
	}
}
