.ddcContainer {
	color: white;
	background-color: #3871ff;
	padding: 5rem 11rem 5rem 11rem;
}

.ddcTitle {
	font-size: small;
	font-weight: bold;
}

.ddcName {
	font-weight: bold;
}

.ddcSubname {
	font-size: x-small;
	font-weight: bold;
}

.ddcMailAndTel {
	text-decoration: none;
	color: white;
	font-size: medium;
	font-weight: 600;
}

.ddcIcons {
	height: 1.5rem;
	width: auto;
}

.ddcIcons2 {
	height: 3rem;
	width: auto;
}

@media (max-width: 1200px) {
	.ddcIcons2 {
		height: 2rem;
		width: auto;
	}
}

@media (max-width: 992px) {
	.ddcContainer {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.ddcName {
		font-size: 1.2rem;
	}

	.ddcIcons {
		height: 1.2rem;
		width: auto;
	}

	.ddcIcons2 {
		height: 1.8rem;
		width: auto;
	}

	.ddcContainerRedes {
		padding: 0 !important;
	}

	.ddcMailAndTel {
		font-size: small;
	}
}

@media (max-width: 576px) {
	.ddcContainer {
		display: flex;
		flex-direction: column;
		padding-bottom: 1rem;
		padding-top: 4rem;
	}

	.ddcCols {
		width: 100%;
		margin-bottom: 2rem;
	}

	.ddcSubname {
		margin: 0 !important;
	}

	.ddcIcons2 {
		height: 1.7rem;
		width: auto;
	}

	.ddcContainerRedes {
		padding: 1rem !important;
	}
}
